.main-footer {
    position: fixed;
    bottom:0px;
    padding: 0px 5px 0px 5px;
    width:100%
}

.menu-item-content {
    position: center; 
}

.icon-belt_icon {
    font-size: 150%;
}

.icon-actuator1_icon {
    font-size: 150%;
}

.icon-actuator2_icon {
    font-size: 150%;
}

.icon-actuator3_icon {
    font-size: 150%;
}

.icon-circularActuator_icon {
    font-size: 150%;
}

.icon-lcd_icon {
    font-size: 150%;
}

.icon-laser_icon {
    font-size: 150%;
}

.icon-ultrasonicSensor_icon {
    font-size: 150%;
}

.icon-colorSensor_icon {
    font-size: 150%;
}

.active {    
    width:100%; 
}

.item-header-text {
    text-align: center;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.pre-scrollable {
    max-height: fit-content;
    overflow-y: scroll;
}

.tab-content {
    height: 80vh !important; 
    overflow-y: scroll;
}
.code-editor-wrapper {
    height: 86vh !important; 
}

.content-wrapper {
    background-color: #252526 !important; 
}

.main-sidebar { 
    background-color: #1E1E1E !important; 
}